<div class="container">
    <div class="card">
      <div class="card-header">
        <div class="card-title">TODO LIST</div>
      </div>
      <div class="card-body">
        <!-- FORM FOR NEW TODO ITEMS -->
        <form class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="create()">
          <div class="col-12">
            <div class="input-group">
              <input name="NewTodoText" type="text" [(ngModel)]="newTodoText" class="form-control" placeholder="enter text..." />
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form> 
        <!-- TODO ITEMS LIST -->    



        <!-- <table *ngFor="let todoItem of todoItems" border="1">
          <tr>
            <th>{{ todoItem.text }}
            </th>
            <th><i class="bi bi-x-circle-fill" (click)="delete(todoItem.id)"></i> 
            </th>
          </tr>
          
        </table> -->
        <ul id="TodoList" class="mt-5">
          <button (click)="deletetodoSelected()" class="btn btn-danger m-3"><i class="fa fa-trash"></i> Delete</button>
          
          <li *ngFor="let todoItem of todoItems" class="m-5">
            <input  #selectCust [value]="todoItem.id" (change)="value(todoItem.id)"
            class="m-5" type="checkbox">
           {{ todoItem.text }}<i class="bi bi-x-circle-fill m-5"   (click)="delete(todoItem.id)"></i> 
          </li>
        </ul>
      </div>
    </div>
  </div>
 